.userInfo {
    width: 30rem;
    background: var(--secondary-color);
    display: flex;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

.avatar {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.avatarImg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
}

.changeAvatar {
    display: none;
    color: white;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    border-radius: 9999px;
}

.avatar.changeable:hover {
    border: 2px solid var(--active-color);
    margin: -2px;
    cursor: pointer;
}

.avatar.changeable:hover .changeAvatar {
    display: block;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    flex-grow: 1;
}

.nameRow {
    margin-bottom: 0.1rem;
}

.name {
    display: inline;
    font-size: 2rem;
    margin: 0 1rem 0 0;
}

.username {
    display: inline;
    font-size: 1.5rem;
    color: var(--secondary-text-color);
    margin: 0;
}

.followers {
    color: var(--secondary-text-color);
    margin-bottom: 0.5rem;
}

.bioArea {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.bioTextarea {
    width: 100%;
    height: 2rem;
    resize: none;
    border: 1px dashed white;
}

.bioTextarea.saved {
    animation: highlight 1s;
}

@keyframes highlight {
    0% {
        border-color: green;
    }
    100% {
        border-color: white;
    }
}